{% extends "base.html" %}
{% load static %}

    {% block content %}
            <div class="card">
                  <div class="card-header">
                    <h5>Importer la session de formation depuis cirrushield</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="text" placeholder="DC-00000" name="num_dossier">

                            <button class="btn btn-info-gradien" type="submit">Importer</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

		{% endblock content %}

