{% extends "base.html" %}
{% load static %}

{% load widget_tweaks %}
{% block content %}

    <div class="row">

            <div class="col-xl col-md">
                <div class="card Recent-Users">
                     <div class="card-header">
                        <h5>Sessions de formation</h5>
                    </div>
                    <div class="card-block px-0 py-3">
                        <div class="table-responsive">
                        <form action="#" method="GET">
                            <input class="btn btn-pill btn-primary" type="submit" value="Toutes les formations" name="all_formations" />
                            <input class="btn btn-pill btn-primary" type="submit" value="Formations à organiser" name="to_be_organised" />
                            <input class="btn btn-pill btn-primary" type="submit" value="Formations terminées" name="finished" />
                            <input class="btn btn-pill btn-primary" type="submit" value="Formations en cours" name="in_progress" />
                        </form>
                            <table class="table table-hover" id="myTable">

                                    <thead>
                                        <tr>
                                            <th>Année</th>
                                            <th>Nom</th>
                                            <th>Formateur</th>
                                            <th>Email responsable</th>
                                            <th>Lieu de la formation</th>
                                            <th>Session Videos effectuées</th>
                                            <th>Date début authorisée</th>
                                            <th>Date Fin autorisée</th>
                                            <th>Heures effectuées</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if formation_list %}
                                            {% for formation in formation_list %}
                                        <tr>
                                            <td>{{ formation.year }}</td>
                                            <td><a href="{% url 'main:attendance_list' formation.id %}">{{ formation.name }}</a></td>
                                            <td>{{ formation.teacher_name.last_name }} {{ formation.teacher_name.first_name }}</td>
                                            <td>{{ formation.client_account.contact.email }}</td>
                                            <td>{{ formation.training_site }}</td>
                                            <td>{{ formation.completed_videochat_sessions}}</td>
                                            <td>{{ formation.date_autorised_start }}</td>
                                            <td>{{ formation.date_autorised_end }}</td>
                                            <td>{{ formation.training_done }} /{{ formation.training_duration }}h</td>
                                        </tr>

                                        {% endfor %}
                                        {% else %}
                                            <tr><td>Il n'y a pas de formations</td></tr>
                                        {% endif %}

                                    </tbody>
                                </table>

                        </div>
                    </div>
                </div>
            </div>




        </div>


                {% endblock %}
                {% block script %}


                <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js" type="text/javascript"></script>
                <script>
                    $(document).ready( function () {
                        $('#myTable').DataTable();
                    } );


                </script>

                <script src="{% static 'assets/js/datatable/datatables/jquery.dataTables.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.buttons.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/jszip.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/buttons.colVis.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/pdfmake.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/vfs_fonts.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.autoFill.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.select.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/buttons.html5.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/buttons.print.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.responsive.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.keyTable.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.colReorder.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/dataTables.scroller.min.js'%}"></script>
                <script src="{% static 'assets/js/datatable/datatable-extension/custom.js'%}"></script>
                {% endblock script %}
            </div>
        </div>
    </div>
</div>
