{% extends 'base.html' %}

{% load static %}
{% block title %}PDF to be signed {% endblock title %}

{% block extracss %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock extracss %}



{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Signer votre émargement {{ doc_name }}</h5>
                </div>
                <div class="card-block">
                    <form nonce="{{request.csp_nonce}}" style="width: 40%" action="" method="post">
                     {% csrf_token %}

                     {{ form }}



                    <input type="submit" value="Valider" class="btn btn-success" />
                    <a href="" class="btn btn-danger">Annuler</a>

                  </form>
                        </br>
                    <div id="adobe-dc-view" ></div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

{% block script %}



    <script nonce="{{request.csp_nonce}}" src="{% static 'js/django_jsignature.js' %}"></script>
    <script nonce="{{request.csp_nonce}}" src="{% static 'js/jSignature.min.js' %}"></script>
    <script nonce="{{request.csp_nonce}}" src="{% static 'js/jsignature_admin_init.js' %}"></script>
    <script nonce="{{request.csp_nonce}}" src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
    <script nonce="{{request.csp_nonce}}" >
        document.addEventListener("adobe_dc_view_sdk.ready", function(){
            var adobeDCView = new AdobeDC.View({clientId: "e3eb34af4932481693d6f87dfb7f0805", divId: "adobe-dc-view"});
            adobeDCView.previewFile({
                content:{location:
                        {url: "https://www.millforma-admin.fr/public/{{path}}" }},
                metaData:{fileName: "{{doc_name}}"}
            }, {embedMode: "IN_LINE"});
        });

    </script>

{% endblock script %}