
<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />

    <title>Mill Forma</title>
        <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <!-- animation css -->
    <link rel="stylesheet" href="{% static 'assets/plugins/animation/css/animate.min.css' %}">
    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


</head>
<body>
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Se connecter</h3>
                    <form method="POST" class="register-form text-center" style="display: inline-grid" id="login-form">
                                {% csrf_token %}
                        {{ form }}
                            <div class="form-group form-button" style="padding-top: 10px">
                                <input type="submit" name="signin" id="signin" class="form-submit btn btn-primary shadow-2 mb-4" value="Se connecter"/>
                            </div>
                        </form>

                    <p class="mb-2 text-muted">Mot de passe oublié? <a href="{% url 'password_change' %}">Réinitialiser</a></p>

                </div>
            </div>
        </div>
    </div>

    <!-- Required Js -->
<script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>