{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mill Forma</title>
    <link rel="icon" href="{% static 'assets/images/favicon.png'%}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png'%}" type="image/x-icon">
    <div class="card-body dropdown-basic">
        <div class="dropdown">
          <div class="btn-group mb-0">
            <button class="dropbtn btn-info btn-round" type="button"><i class="fa fa-language"></i>{% translate "Language"%} <span><i class="icofont icofont-arrow-down"></i></span></button>
            <div class="dropdown-content">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for lang in languages %}
                  <a href="/{{ lang.code }}/">
                      {{ lang.name_local }}
                  </a>
                {% endfor %}
            </div>
          </div>
        </div>
    </div>
    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'assets_login/fonts/material-icon/css/material-design-iconic-font.min.css'%}">
        <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'assets_login/fonts/material-icon/css/material-design-iconic-font.min.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawesome.css'%}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/icofont.css'%}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/themify.css'%}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/flag-icon.css'%}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/feather-icon.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css'%}">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/pe7-icon.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/calendar.css'%}">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.css'%}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css'%}">
    <link id="color" rel="stylesheet" href="{% static 'assets/css/color-1.css'%}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/responsive.css'%}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'assets_login/css/style.css'%}">
    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'assets_login/css/style.css'%}">
</head>
<body>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">{% translate "Sign up"%}</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{ form.username }}
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {{form.email}}
                            </div>
                             <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-comment-list"></i></label>
                                {{form.first_name}}
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-comment-list"></i></label>
                                {{form.last_name}}
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {{ form.password1 }}
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                {{form.password2}}
                            </div>

                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>{% translate "I agree all statements in Terms of service"%} <a href="#" class="term-service"></a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="{% translate "Register"%}"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'assets_login/images/signup-image.jpg'%}" alt="sing up image"></figure>
                        <a href="{%url "login"%}" class="signup-image-link">{% translate "I am already member"%}</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
 <!-- JS -->
    <script src="{% static 'assets_login/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'assets_login/js/main.js'%}"></script>
</body>
</html>